

#fetchOrderButton{
    background-color: #ffc313;
}

li img{
    width: 30px;
    height: auto;
    margin-left: 20px;
}
li{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #ffc313;
    width: 95%;
    justify-content: space-between;
    margin-bottom: 3px;
}

.costContainer{
    color: #ffc313;  
}

#processState{
    font-size: 35px;
}

.timer{
    font-size: 40px;
}